SQLAlchemy And SQLite European Football Club Dataset

In [1]:
import sqlalchemy as db

In [1]:
import sqlalchemy as db

In [2]:
engine = db.create_engine("sqlite:///european_database.sqlite")

conn = engine.connect()

In [3]:
engine = db.create_engine("sqlite:///european_database.sqlite")
conn = engine.connect()

In [4]:
metadata = db.MetaData() #extracting the metadata
metadata.reflect(bind=engine)

# List all table names
print(metadata.tables.keys())

dict_keys(['divisions'])

In [4]:
metadata = db.MetaData()
metadata.reflect(bind=engine)
print(metadata.tables.keys())

dict_keys([])

In [ ]:
## check if file exists
import os
print(os.path.exists("european_database.sqlite"))  # Should print True

True

In [6]:
# no file or data available
# let's check if file 

import os
print(os.path.exists("european_database.sqlite"))

True

In [6]:
## if file was not available we could create one

from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

# Connect to the SQLite database
engine = create_engine("sqlite:///european_database.sqlite")
metadata = MetaData()

# Define the table structure
divisions = Table(
    "divisions_2", metadata,
    Column("id", Integer, primary_key=True),
    Column("name", String, nullable=False),
)

# Create the table in the database
metadata.create_all(engine)

print("Table 'divisions_2' created successfully!")

Table 'divisions_2' created successfully!

In [12]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
div_2 = Table("div_2", metadata,
                  Column("id", Integer, primary_key=True),
                  Column("name", String, nullable=False),
                  )

metadata.create_all(engine)
print("Table created successfully")

Table created successfully

In [8]:
## should show all tables created
## We are rewriting the same code for 'divisions' table in this ipynb file, it was not empty when rewriting
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())  # Should show ['divisions']

['divisions', 'divisions_2']

In [13]:
# Show the list of tables
from sqlalchemy import inspect

inspector = inspect(engine)

print(inspector.get_table_names())

['div', 'div_2']

In [10]:
## Sample data is also inserted in the table, but not for division_2
## so let's add data

from sqlalchemy import insert

# Create an insert statement
stmt = insert(divisions).values([
    {"name": "BPL"},
    {"name": "IPL"},
    {"name": "WPL"},
])

# Execute the insert statement
with engine.connect() as conn:
    conn.execute(stmt)
    conn.commit()

print("Sample data inserted!")

Sample data inserted!

In [15]:
# add sample data to div table
from sqlalchemy import insert

dt = insert(div_2).values([
    {"name": "BPL"},
    {"name": "IPL"},
    {"name": "WPL"},
])

with engine.connect() as conn:
    conn.execute(dt)
    conn.commit()
    
print("Sample data inserted")

Sample data inserted

In [19]:
from sqlalchemy import select

db = select(div_2)
with engine.connect() as conn:
    result = conn.execute(db)
    for row in result:
        print(row)

(1, 'BPL')
(2, 'IPL')
(3, 'WPL')

In [21]:
## add new data alternatively

## adding more data
from sqlalchemy import create_engine

# Connect to the SQLite database
engine = create_engine("sqlite:///european_database.sqlite")

# Create a connection
conn = engine.connect()

In [22]:
from sqlalchemy import text

# Insert data into the 'divisions' table
conn.execute(text("INSERT INTO div_2 (name) VALUES ('Gazipur League')"))
conn.execute(text("INSERT INTO div_2 (name) VALUES ('Duet Ligue')"))
conn.execute(text("INSERT INTO div_2 (name) VALUES ('SM League')"))

# Commit the changes
conn.commit()

print("Even more data inserted successfully!")

Even more data inserted successfully!

In [ ]:
import pandas as pd

# Fetch and display the data
df = pd.read_sql("SELECT * FROM div_2", conn)
df

   id            name
0   1             BPL
1   2             IPL
2   3             WPL
3   4  Gazipur League
4   5      Duet Ligue
5   6       SM League

In [24]:
# to unclock the db
conn.execute(text("PRAGMA journal_mode=WAL;"))  # Switch to WAL mode
conn.execute(text("PRAGMA busy_timeout = 5000;"))  # Wait up to 5 seconds if locked